<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <title>Students Page</title>
</head>
<body>
    <%- include('../partials/navbar') %>
     <main>
    <h1>Student</h1>
    <% if (student) { %>
        <h2><%= student.firstName %>  <%= student.lastName %></h2>
        <p><%= student.age %></p>
        <p><%= student.country %></p>
        <p><%= student.skills.join(', ')%></p>
        <p><%= student.bio%></p>
        <a href="/student/<%= student._id%>/edit" class="btn btn-primary active" role="button" aria-pressed="true">Edit</a> <a href="/api/v.1.0/students/<%= student._id%>/delete" class="btn btn-primary active" role="button" aria-pressed="true">Delete</a> 
      <% } %>
  </main> 
  <%- include('../partials/footer') %> 
</body>
</html>